@{
    Layout = "Shared/_Layout.cshtml";
}
<h1>Posts</h1>

    @foreach (var post in Model.Posts)
    {
            <article>
                <h3><a href="/Posts/@post.Id">@post.Title</a></h3>
                <h6>Written by <a href="#">@post.Author</a> on @DateTime.Now</h6>

                <div class="row">
                </div>

                <p>@post.Body</p>
                
            </article>
            <br />
    }
