<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>

	<style type="text/css">

		/*body {
			text-align: center;
		}*/

	</style>

</head>
<body>
    <h1>New Post</h1>

    <form action="~/Posts/Create" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" value="" />
        </div>
        <div>
            <label for="body">Body</label>
            <textarea id="body"></textarea>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" value="" />
        </div>

        <div>
            <input type="submit" value="Create Post" />
        </div>
    </form>
</body>
</html>
