@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@Model.Post.Title</h1>

<div>
    <p>@Model.Post.Body</p>

    <i>@Model.Post.Author.FullName</i>
</div>
<br />
<div>
    <a href="/Posts">Back</a>
</div>
